<mat-dialog-content style="max-height: 90vh;">
  <div style="display: flex; justify-content: space-between; flex-direction: row;">
    <h3>Specific log - {{data.id}}</h3>
    <span>
      <button mat-icon-button (click)="showSettings()">
          <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <div id="additional_info" style="display: flex; flex-direction: row; justify-content: space-between;">
    <h3 *ngIf="data.guild?.name" id="guild_name" [ngStyle]="{'color': data.guild?.faction ? '#e57373':'#29b6f6'}">
      Guild raid - {{data.guild.name}}</h3>
    <h3 *ngIf="!data.guild?.name" id="random_raid">Random raid</h3>
    <mat-expansion-panel (opened)="setComposition()" style="width: 20%; min-width: 200px">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Composition
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table mat-table *ngIf="composition" [dataSource]="composition" style="width: 100%">
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Count</th>
          <td mat-cell *matCellDef="let element">{{element.count}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['role', 'count']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['role', 'count'];"></tr>
      </table>
    </mat-expansion-panel>
  </div>
  <table *ngIf="dataLoaded()" mat-table [dataSource]="sortedMembers"
         class="mat-elevation-z0 modal-size"
         matSort (matSortChange)="sortData($event)"
         [matSortStart]="'desc'"
         matSortActive="dmg_done"
         matSortDirection="desc">
    <ng-container [matColumnDef]="characterHeader.key">
      <th mat-header-cell *matHeaderCellDef class="header-col">
        Character
      </th>
      <td mat-cell *matCellDef="let member" class="header-col">
        <div style="display: flex; align-items: end;">
          <span>{{member.ilvl}}</span>
          <img width="21" height="21" [src]="getRaceImage(member)" style="padding: 0 10px"
               [matTooltip]="getRaceTooltip(member)" [matTooltipPosition]="'above'">
          <img width="21" height="21" [src]="getSpecImage(member)"
               [matTooltip]="getSpecTooltip(member)" [matTooltipPosition]="'above'">
          <span [style]="getClassColor(member) + 'padding: 0 10px;'">{{member.name}}</span>
        </div>
      </td>
    </ng-container>
    <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="header.key" class="header-col">
        {{header.text}}
      </th>
      <td mat-cell *matCellDef="let member" class="header-col">
        <span *ngIf="!header.img" [style]="header.style(member)">{{getMemberAttribute(member, header.key)}}</span>
        <img *ngIf="header.img" [width]="header.img.dimension" [height]="header.img.dimension"
             [src]="header.img.path(member)" class="header-col"
             [matTooltip]="header.img.tooltip(member)" [matTooltipPosition]="'above'"/>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="rows; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: rows;"></tr>
  </table>
  <div *ngIf="!dataLoaded()" class="modal-size modal-loading">
    <mat-spinner></mat-spinner>
    <p>Log is being loaded from the server.</p>
  </div>
</mat-dialog-content>
