.modal-size {
  width: 70vw;
  height: 80vh;
}

.modal-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-col {
  padding: 1vh 1vw;
}

#guild_name {
  margin-top: 0;
}

#random_raid {
  margin-top: 0;
  color: darkorange;
}

#additional_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#additional_info_expansion_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
