<mat-dialog-content style="max-height: 90vh;">
  <div style="display: flex; justify-content: space-between; flex-direction: row;">
    <h3>{{ data.boss }}</h3>
    <span>
      <button (click)="showSettings()" mat-icon-button>
          <mat-icon>settings</mat-icon>
      </button>
      <button mat-dialog-close mat-icon-button>
          <mat-icon>close</mat-icon>
      </button>
    </span>
  </div>
  <div *ngIf="raidDetail && raidDetail.members" id="additional_info">
    <h3 *ngIf="data.guild?.name" [ngStyle]="{'color': data.guild?.faction ? '#e57373':'#29b6f6'}" class="guild_name">
      Guild raid - {{ data.guild.name }}</h3>
    <h3 *ngIf="!data.guild?.name" class="guild_name" id="random_raid">Random raid</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Additional info</mat-panel-title>
      </mat-expansion-panel-header>
      <div id="additional_info_expansion_content">
        <app-multiple-value-table [tableModel]="logStatisticsTableModel">
        </app-multiple-value-table>
        <app-kill-comparison-table [tableModel]="killComparisonTableModel">
        </app-kill-comparison-table>
        <app-multiple-value-table [tableModel]="compositionTableModel">
        </app-multiple-value-table>
      </div>
    </mat-expansion-panel>
  </div>
  <table (matSortChange)="sortData($event)" *ngIf="dataLoaded()" [dataSource]="sortedMembers"
         [matSortStart]="'desc'"
         class="mat-elevation-z0 modal-size" mat-table
         matSort
         matSortActive="dmg_done"
         matSortDirection="desc">
    <ng-container [matColumnDef]="characterHeader.key">
      <th *matHeaderCellDef class="header-col" mat-header-cell>
        Character
      </th>
      <td *matCellDef="let member" class="header-col" mat-cell>
        <div style="display: flex; align-items: end;">
          <span>{{ member.ilvl }}</span>
          <img [matTooltipPosition]="'above'" [matTooltip]="getRaceTooltip(member)" [src]="getRaceImage(member)" height="21"
               style="padding: 0 10px" width="21">
          <img [matTooltipPosition]="'above'" [matTooltip]="getSpecTooltip(member)" [src]="getSpecImage(member)"
               height="21" width="21">
          <span (click)="goToMemberView(member)" [style]="getClassColor(member) + 'padding: 0 10px;cursor: pointer;'"
          >{{ member.name }}</span>
        </div>
      </td>
    </ng-container>
    <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
      <th *matHeaderCellDef [mat-sort-header]="header.key" class="header-col" mat-header-cell>
        {{ header.name }}
      </th>
      <td *matCellDef="let member" class="header-col" mat-cell>
        <span *ngIf="!header.img" [style]="header.style(member)">{{ getMemberAttribute(member, header.key) }}</span>
        <div *ngIf="header.images.length > 0" class="images-col">
          <img *ngFor="let image of header.images" [height]="image.dimension" [matTooltipPosition]="'above'"
               [matTooltip]="image.tooltip(member)" [src]="image.path(member)" [width]="image.dimension"
               alt="{{image.tooltip(member)}}" class="header-col" style="padding-left: 0; padding-right: 0;"/>
        </div>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="rows; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: rows;" mat-row></tr>
  </table>
  <div *ngIf="!dataLoaded()" class="modal-size modal-loading">
    <mat-spinner></mat-spinner>
    <p>Log is being loaded from the server.</p>
  </div>
</mat-dialog-content>
