.modal-size {
  width: 70vw;
  height: 80vh;
}

.modal-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-col {
  padding: 1vh 1vw;
}

.guild_name {
  margin: 0;
  white-space: nowrap;
}

#random_raid {
  color: darkorange;
}

#additional_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  flex-wrap: wrap;
  gap: 1rem;
}

#additional_info_expansion_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

/*remove row height scaling (default 1vh 1vw)*/
:host ::ng-deep .header-col {
  padding-top: 0;
  padding-bottom: 0;
}

.images-col {
  display: flex;
  gap: 5px;
}

#additional_info {
  display: flex;
}
