<mat-dialog-content style="max-height: 90vh;">
  <span style="display: flex; justify-content: space-between;">
    <h3>Specific log - {{data.id}}</h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
  </span>
  <table mat-table [dataSource]="sortedMembers" class="mat-elevation-z0"
         matSort (matSortChange)="sortData($event)" [matSortStart]="'desc'"
         [style]="'width: 70vw; height: 80vh'">
    <ng-container *ngFor="let header of headers" [matColumnDef]="header.key">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="header.key" [style]="header.getHeaderStyle()">
        {{header.text}}
      </th>
      <td mat-cell *matCellDef="let member" [style]="header.getColStyle(member)">
        <span *ngIf="!header.img">{{getMemberAttribute(member, header.key)}}</span>
        <img *ngIf="header.img" width="21" height="21" [src]="header.img.getImage(member, header.key)"
             [matTooltip]="header.img.getTooltip(member, header.key)" [matTooltipPosition]="'above'">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="rows; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: rows;"></tr>
  </table>
</mat-dialog-content>
