<div class="navBar">
  <input (keydown.enter)="goToPlayerView(playerName, playerRealm)" [(ngModel)]="playerName" [placeholder]="'Player name'"
         class="textInput" matInput
         type="text">
  <mat-select [(ngModel)]="playerRealm" id="realmSelect">
    <mat-option *ngFor="let realm of realms" [value]=realm>{{ realm }}</mat-option>
  </mat-select>
  <button (click)="goToPlayerView(playerName, playerRealm)" class="searchButton" mat-raised-button>
    Search for player
  </button>
</div>
