.navBar {
  width: 20vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.textInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  outline: none;
}

.searchButton {
  margin-top: 3vh;
}

input {
  background-color: #424242;
  color: white;
}

#realmSelect {
  margin-top: 3vh;
}
