<table *ngIf="tableModel" [dataSource]="tableModel.data" mat-table style="width: 100%">
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef [style]="tableModel.styles.name" mat-header-cell>{{ tableModel.cells[0] }}</th>
    <td *matCellDef="let element" [style]="tableModel.styles.name" mat-cell>{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th *matHeaderCellDef [style]="tableModel.styles.value + 'text-align: right;'" mat-header-cell
    >{{ tableModel.cells[1] }}
    </th>
    <td *matCellDef="let element" [style]="tableModel.styles.value + 'text-align: right;'" mat-cell
    >{{ element.value }}
    </td>
  </ng-container>
  <tr *matHeaderRowDef="['name', 'value']" mat-header-row></tr>
  <tr *matRowDef="let row; columns: ['name', 'value'];" mat-row></tr>
</table>
