<div id="player_view">
  <div class="header">
    <app-logo class="logo" [fontSize]="'2rem'" [link]="true"></app-logo>
    <div class="search-wrapper">
      <div class="search-input-wrapper">
        <input class="search-input">
      </div>
      <div class="realm-select">
        <input>
        <!--          <mat-select id="realmSelect" [(ngModel)]="playerRealm">-->
        <!--            <mat-option *ngFor="let realm of realms" [value]=realm>{{ realm }}</mat-option>-->
        <!--          </mat-select>-->
      </div>
      <button class="search-button" mat-raised-button>
        Search for player
      </button>
    </div>
  </div>
  <div class="character" *ngIf="character">
    <div id="character_info">
      <h1 id="name_heading">
        <img [src]="getRaceImage(character)" style="padding: 0 10px 0 0"
             [matTooltip]="getRaceTooltip(character)" [matTooltipPosition]="'above'">
        <span [style]="getClassColor(character)">{{ character.name }}</span>
      </h1>
      <h2 *ngIf="character.guildName" id="guild_name"
          [ngStyle]="{'color': character.faction_string_class === 'Horde' ? '#e57373':'#29b6f6'}">
        {{ character.guildName }}</h2>
    </div>
    <div class="table-wrapper">
      <div class="table-header">
        <mat-form-field class="dateRange">
          <mat-label>Filter range</mat-label>
          <mat-date-range-input [rangePicker]="filterRange" class="filter-date-range">
            <input matStartDate [(ngModel)]="startFilter">
            <input matEndDate [(ngModel)]="endFilter">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="filterRange"></mat-datepicker-toggle>
          <mat-date-range-picker #filterRange></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="number-input-wrapper">
          <mat-label>Amount of logs</mat-label>
          <input matInput type="number" [(ngModel)]="amountOfLogsFilter" class="number-input">
        </mat-form-field>
        <button class="search-button" mat-raised-button
                [matTooltip]="'filters ' + amountOfLogsFilter + ' logs and afterwards extracts only SOO logs'"
                (click)="filter()">Search
        </button>
      </div>
      <div class="logs-table">
        <mat-expansion-panel *ngFor="let week of playerLogs">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ week.startDate.getDate() }}.{{ week.startDate.getMonth() + 1 }}.{{ week.startDate.getFullYear() }}
              – {{ week.endDate.getDate() }}.{{ week.endDate.getMonth() + 1 }}.{{ week.endDate.getFullYear() }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <tr class="log_tr" (click)="showSpecificLog(log)" *ngFor="let log of week.logs">
            <td>{{ log.encounter_data.encounter_name }} {{ log.difficultyName }}</td>
            <td>{{ log.killDate | date: 'dd. MM. HH:mm' }}</td>
          </tr>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div *ngIf="!character" class="loading">
    <mat-spinner></mat-spinner>
    <p>Retrieving character data from Tauri.</p>
    <p class="small-text">(Tauri api might be down if you have enough time to read this.)</p>
  </div>
</div>
