#player_view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --light-grey: #424242;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  margin-left: 2rem;
  /*margin-top: 1rem;*/
}

.search-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 3rem;
}

.search-input-wrapper {
  display: flex;
  border-radius: 50px;
  border: 2px solid var(--ligher-dark-color);
  background-color: var(--light-grey);
  width: 100%;
  justify-content: center;
  height: 2.5rem;
}

.search-input {
  border: none;
  width: 30rem;
  color: white;
  caret-color: white;
  font-size: 16px;
  margin: 0.5rem 0.5rem;
}

.search-input:focus {
  outline: none;
}

input {
  background-color: var(--light-grey);
}

.number-input-wrapper {
  background-color: var(--light-grey);
  width: 6rem;
}


.dateRange {
  background-color: var(--light-grey);
}

.search-button {
  margin-bottom: 20px;
}

/* because material angular has some input 44px and some 45px */
:host ::ng-deep .mat-form-field-flex {
  height: 45px;
}

.table-header {
  background-color: var(--light-grey);
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

.logs-table {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel:nth-child(odd) {
  background-color: var(--ligher-dark-color);
}

.log_tr {
  cursor: pointer;
  height: 3rem;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log_tr:hover td{
  color: darkorange;
}

.loading {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: small;
}

#name_heading {
  display: flex;
  flex-direction: row;
  height: 1em;
  justify-content: center;
  margin: 0;
}

#character_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#guild_name {
  margin: 0.5rem 0 0;
}
