#player_view {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  --light-grey: #424242;
}

.header {
  width: 100%;
}

input {
  background-color: var(--light-grey);
}

.number-input-wrapper {
  background-color: var(--light-grey);
  width: 6rem;
}


.dateRange {
  background-color: var(--light-grey);
}

/* because material angular has some input 44px and some 45px */
:host ::ng-deep .mat-form-field-flex {
  height: 45px;
}

.table-header {
  background-color: var(--light-grey);
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

.search-filters-button {
  /* because material angular has 20px bottom padding */
  margin-bottom: 20px;
  /* material angular has 45px height */
  height: 45px;
}

.logs-table {
  display: flex;
  flex-direction: column;
}

mat-expansion-panel:nth-child(odd) {
  background-color: var(--ligher-dark-color);
}

.log_tr {
  cursor: pointer;
  height: 3rem;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log_tr:hover td {
  color: darkorange;
}

.loading {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: small;
}

.character {
  margin-top: 1rem;
}

#name_heading {
  display: flex;
  flex-direction: row;
  height: 1em;
  justify-content: center;
  margin: 0;
}

#character_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#guild_name {
  margin: 0.5rem 0 0;
}
