input {
  background-color: #424242;
}

.dateRange {
  background-color: #424242;
}

:host ::ng-deep .mat-form-field-flex {
  height: 45px;
}

.numberInput {
  background-color: #424242;
}

#logs_table {
  display: flex;
  flex-direction: column;
}

.log_tr {
  height: 10vh;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
}
