<mat-dialog-content style="max-height: 90vh;">
  <span style="display: flex; justify-content: space-between;">
    <h3>Setup what you see in logs</h3>
    <button mat-dialog-close mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
  </span>
  <div (cdkDropListDropped)="drop($event)" cdkDropList class="headers-list">
    <div *ngIf="characterHeader" class="header">
      <span>
        <mat-checkbox [(ngModel)]="characterHeader.active">
          Character
        </mat-checkbox>
      </span>
    </div>
    <div *ngFor="let header of headers" cdkDrag class="header">
      <span>
        <mat-checkbox [(ngModel)]="header.active">
          {{ header.name }}
        </mat-checkbox>
      </span>
    </div>
  </div>
</mat-dialog-content>

