<mat-dialog-content style="max-height: 90vh;">
  <span style="display: flex; justify-content: space-between;">
    <h3>Setup what you see in logs</h3>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
  </span>
  <div cdkDropList class="headers-list" (cdkDropListDropped)="drop($event)">
    <div *ngIf="characterHeader" class="header">
      <span>
        <mat-checkbox [(ngModel)]="characterHeader.active">
          Character
        </mat-checkbox>
      </span>
    </div>
    <div class="header" *ngFor="let header of headers" cdkDrag>
      <span>
        <mat-checkbox [(ngModel)]="header.active">
          {{header.text}}
        </mat-checkbox>
      </span>
    </div>
  </div>
</mat-dialog-content>

