<table *ngIf="tableModel" [dataSource]="tableModel.data" mat-table style="width: 100%">
  <ng-container matColumnDef="row-defs">
    <th *matHeaderCellDef class="row-def" mat-header-cell>
    </th>
    <td *matCellDef="let element" class="row-def" mat-cell>
      {{ element.rowDefinition }}
    </td>
  </ng-container>
  <ng-container matColumnDef="first-kill">
    <th *matHeaderCellDef class="first-kill" mat-header-cell>
      First HC kill
    </th>
    <td *matCellDef="let element" class="first-kill" mat-cell>
      {{ element.firstKill }}
    </td>
  </ng-container>
  <ng-container matColumnDef="this-kill">
    <th *matHeaderCellDef class="this-kill" mat-header-cell>
      This kill
    </th>
    <td *matCellDef="let element" class="this-kill" mat-cell>
      {{ element.thisKill }}
    </td>
  </ng-container>
  <tr *matHeaderRowDef="['row-defs', 'this-kill', 'first-kill']" mat-header-row></tr>
  <tr *matRowDef="let row; columns: ['row-defs', 'this-kill', 'first-kill'];" mat-row></tr>
</table>
