<div class="container">
  <div class="search">
    <app-logo [fontSize]="'7.5rem'"></app-logo>
    <div class="search-input-wrapper">
      <input (keydown.enter)="goToPlayerView(playerName, playerRealm)" [(ngModel)]="playerName"
             [placeholder]="'Player name'"
             class="search-input" matInput
             type="search">
    </div>

    <div class="search-buttons">
      <div class="realm-select">
        <mat-select [(ngModel)]="playerRealm" id="realmSelect">
          <mat-option *ngFor="let realm of realms" [value]=realm>{{ realm }}</mat-option>
        </mat-select>
      </div>
      <button (click)="goToPlayerView(playerName, playerRealm)" class="search-button" mat-raised-button>
        Search for player
      </button>
    </div>
  </div>
  <div class="favourite-players">
    <h3 class="favourite-players-header">Favourite Players</h3>
    <div *ngFor="let playerLog of favoritePlayerLogs | keyvalue" class="favourite-player-wrapper">
      <div class="favourite-player">
        <a class="favourite-player-link" [href]="'/player/' + playerLog.key.name + '/' + playerLog.key.realm"
        >{{ playerLog.key.name }}</a>
        <span *ngIf="playerLog.value">
        killed last boss on {{ playerLog.value?.killDate | date: 'dd. MM. YYYY HH:mm' }}
        </span>
        <span *ngIf="!playerLog.value">did not kill any boss</span>
      </div>
    </div>
  </div>
  <div class="footer">
    <span>Open source</span>
  </div>
</div>
