<div class="header">
  <app-logo class="logo" [fontSize]="'1em'" [link]="true"></app-logo>
  <div class="search-wrapper">
    <div class="search-input-wrapper">
      <input class="search-input" [(ngModel)]="playerName" (keydown.enter)="goToPlayerView(playerName, playerRealm)">
      <div class="realm-select">
        <mat-select id="realmSelect" [(ngModel)]="playerRealm">
          <mat-option *ngFor="let realm of realms" [value]=realm class="realm-select-option">
            {{ realm }}
          </mat-option>
        </mat-select>
      </div>
      <button class="search-button" mat-icon-button (click)="goToPlayerView(playerName, playerRealm)">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
