@media (max-width: 700px) {
  .header {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--ligher-dark-color);
    background-color: var(--light-grey);
    width: 98%;
  }

  .logo {
    justify-self: start;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .search-wrapper {
    place-self: center;
    display: flex;
    align-items: flex-end;
    width: min(35rem, 100%);
  }

  .search-input-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
  }
}

@media (min-width: 700px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }

  .logo {
    justify-self: start;
    margin-left: 2rem;
    font-size: 2rem;
  }

  .search-wrapper {
    place-self: center;
    display: flex;
    align-items: flex-end;
    width: min(35rem, 100%);
  }

  .search-input-wrapper {
    display: flex;
    border-radius: 50px;
    border: 2px solid var(--ligher-dark-color);
    background-color: var(--light-grey);
    width: 100%;
    justify-content: center;
    height: 2.5rem;
    align-items: center;
  }
}

.header {
  margin-top: 1rem;
}

.search-input {
  border: none;
  width: min(20rem, 100%);
  color: white;
  caret-color: white;
  font-size: 16px;
  margin: 0.5rem 1rem;
  background-color: var(--light-grey);
}

.search-input:focus {
  outline: none;
}

.realm-select {
  width: 10rem;
}
